.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24292e;
  color: #E5E7EB;
  padding: 16px 32px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links a {
  color: #E5E7EB;
  margin-left: 20px;
  font: bold;
  text-decoration: none;
  font-weight: 800;
}

.nav-links a:hover {
  text-decoration: underline;
}
